.tag {
  border-radius: 10px;
  border: none;
  color: #fff;
  background-color: #FF6060;
  display: inline-block;
  margin-right: 10px;
  padding: 5px 5px;
  font-weight: 700;

  p {
    margin: 0;
  }
}
