.accordeon {
    .title {
        color: white;
        background: #FF6060;
        padding: 10px 15px;
        display: flex;
        justify-content: space-between;
        border-radius: 10px;  
        align-items: center; 
        
        h3 {
            margin: 0;
        }
    }

    button {
        background: transparent;
        border: none;


        img {            
            transition: transform .250s linear;
        }
    }

    .accordeon-content {
        transition: height .250s ease-in-out;
        overflow: hidden;
        background: #F6F6F673;
        border-radius: 5px;

        * {
            margin: 0;
            padding: 0;
            list-style: none;
        }
    }

    .accordeon-children {
        padding: 16px 20px;
    }

    &.open {

        button img {
            transform: rotate(-180deg);
        }
    }
}
