.host {
  color: #ff6060;
  display: flex;
  justify-content: flex-end;
  align-items: center;

  .profile-picture {
    border-radius: 50%;
    width: 64px;
    height: 64px;
    margin-left: 10px;
  }
}
